body {
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url('coded.jpeg');
    
}


.login_form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
    width: 300px;
}




.label {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Optional: Center the form on the page */
html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
